---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import FAQ from "../components/FAQ.astro";
import Background from "../components/Background.astro";

const title = "Sublyt - Effortlessly Track and Manage Your Subscriptions";
const description =
	"Sublyt helps you track your subscriptions, set payment reminders, and manage recurring expenses with ease. Stay in control and avoid unexpected charges.";
const canonicalURL = "https://sublyt.com";
const ogImage = "https://sublyt.app/og-image.png";
---

<Layout
	title={title}
	description={description}
	canonicalURL={canonicalURL}
	ogImage={ogImage}
>
	<div class="relative min-h-screen ">
		<Background />
		<Header />
		<main class="relative ">
			<Hero />
			<About />
			<FAQ />
		</main>
	</div>
</Layout>
