---
import Layout from "./Layout.astro";
import Sidebar from "../components/dashboard/Sidebar.astro";

interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
    <div class="min-h-screen bg-gray-50">
        <Sidebar />
        <div class="pl-64">
            <main class="py-6">
                <div class="px-6 max-w-7xl mx-auto">
                    <slot />
                </div>
            </main>
        </div>

        {/* Indicador de desarrollo */}
        <div class="fixed bottom-4 right-4">
            <div
                class="bg-yellow-50 text-yellow-800 text-sm font-medium px-4 py-2 rounded-lg shadow-sm border border-yellow-100 flex items-center"
            >
                <svg
                    class="w-4 h-4 mr-2"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                    ></path>
                </svg>
                Development version
            </div>
        </div>
    </div>
</Layout>
